#[defaults]
#inventory = hosts.ini
#host_key_checking = False
#deprecation_warnings = False
#stdout_callback = default
#retry_files_enabled = False

#[ssh_connection]
#ssh_args = -o ForwardAgent=no -o ControlMaster=auto -o ControlPersist=60s




[defaults]
host_key_checking = False
remote_user = ec2-user
private_key_file = /home/runner/.ssh/ansible_key.pem
inventory = ansible/hosts.ini
timeout = 60

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=30 -o ServerAliveCountMax=10
retries = 3